.passwordContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.eye {
  cursor: pointer;
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.eye-open {
  font-size: 30px;
  color: var(--tertiary-color-2);
}

.eye-closed {
  font-size: 30px;
  color: var(--tertiary-color-2);
}

.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(231, 223, 221, 0.8);
  padding-top: 1rem;
  border-radius: 15px;
  border: 3px solid var(--main-color);
}

/* .input-eye {
  margin-left: 3.65rem;
} */

.text-box-container-special {
  margin-left: 3.65rem;
}

p {
  margin-top: 0.7rem;
  margin-bottom: 0.3rem;
}
