.main-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 5;
}

.user-information {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(231, 223, 221, 0.8);
  padding: 1rem;
  border-radius: 15px;
  margin: 2rem;
  border: 3px solid var(--main-color);
}
.my-player-info {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
.text-box-container {
  padding: 5px;
  margin: 5px;
  display: flex;
  flex-direction: column;
}

.text-box-container-spec {
  padding: 5px;
  margin: 5px;
  display: flex;
  flex-direction: column;
  margin-right: 3rem;
}

.input-fields {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(231, 223, 221, 0.7);
  padding: 1rem;
  border-radius: 15px;
  margin: 2rem;
  border: 3px solid var(--main-color);
}

.input-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.button-holder {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px;
  margin: 5px;
}

.button-holder-pass {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 5px;
  margin: 5px;
}

.button {
  padding: 5px;
  margin: 5px;
  cursor: pointer;
}

.profile-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (max-width: 900px) {
  .my-player-info {
    flex-direction: column;
  }

  input {
    width: 15rem;
  }
}
