.centeredCollumn {
  position: relative;
  z-index: 5;
}

.mainText {
  color: var(--tertiary-color-2);
}

.calendar {
  position: relative;
  z-index: 4;
  display: flex;
  align-items: center;
  justify-content: center;
}
