.side-bar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 100;
}

.side-link-menu {
  display: flex;
  flex-direction: column;
  position: absolute;
  justify-content: flex-start;
  align-items: flex-start;
  top: 13vh;
  right: 0;
  width: 25vh;
  height: 87vh;
  background-color: var(--main-color);
  /* border-top: 2px solid rgb(0, 0, 0); */
  /* border-left: 2px solid rgb(0, 0, 0); */
  padding: 0vh 5vh 0vh 3vh;
  border-bottom-left-radius: 10px;
  /* border-top-left-radius: 10px; */
}

.active-nav-link {
  font-size: larger;
  color: var(--tertiary-color-2);
  text-decoration: underline;
  text-decoration-color: var(--secondary-color);
  text-decoration-thickness: 0.13rem;
}

.inactive-nav-link {
  font-size: large;
  color: var(--tertiary-color-2);
  text-decoration: none;
}

.hamburger-icon {
  font-size: 50px;
  color: var(--tertiary-color-2);
  padding: 2rem;
  margin: 2rem;
  cursor: pointer;
  position: absolute;
  right: 0;
}

.link-container-side {
  padding: 5px;
  margin: 5px;
  margin-top: 15px;
}

.link-container-side a:hover {
  color: var(--secondary-color);
}

.user-image {
  height: 50px;
  width: auto;
}

@media (max-width: 990px) {
  .side-bar {
    display: none;
  }

  .side-link-menu {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
    width: 100%;
    height: auto;
    background-color: var(--main-color);
    padding: 0vh 5vh 0vh 1vh;
  }

  .hamburger-icon {
    font-size: 35px;
    position: absolute;
    right: 0;
    cursor: pointer;
    padding: 0.5rem;
    margin: 0.5rem;
  }
}
