/* * {
  font-size: 20px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
} */

/* .sidemenu {
  display: none;
} */

.link-menu,
.app-bar-menu {
  background-color: inherit;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 100%;
  z-index: 100;
}

.link-container {
  padding: 20px;
  margin: 5px;
}

.link-container a:hover {
  color: var(--secondary-color);
}

.nav-bar {
  height: 100%;
}

.app-bar {
  display: none;
}

.mobile-nav-bar {
  display: none;
}

@media (max-width: 990px) {
  .nav-bar {
    display: none;
  }

  .app-bar {
    display: block;
  }

  .mobile-nav-bar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 100;
  }

  .link-menu {
    display: flex;
    flex-direction: column;
    position: absolute;
    justify-content: space-between;
    align-items: center;
    top: 13vh;
    right: 0;
    width: 100%;
    height: auto;
    background-color: var(--main-color);
    padding-bottom: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
  }

  .link-container {
    padding: 5px;
  }
}
