/* * {
  font-size: 20px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
} */
:root {
  --main-color: #0e0b16;
  --secondary-color: #a239ca;
  --tertiary-color: #4717f6;
  --tertiary-color-2: #e7dfdd;
  --fc-border-color: var(--tertiary-color-2);
}

body,
html {
  height: 100%;
  margin: 0;
  padding: 0;
}

/* a {
  text-decoration: none;
  margin-left: 10px;
  margin-right: 10px;
  color: white;
} */
html {
  min-height: 100%;
  margin: 0;
}
body {
  display: flex;
  flex-direction: column;
  background-color: var(--main-color) !important;
  min-height: 100%;
  margin: 0;
}

input {
  width: 300px;
  height: 35px;
  border-radius: 10px;
  background-color: #ebebe0;
  padding-left: 10px;
}

.all-match-info {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.button-holder {
  position: relative;
  z-index: 10;
  text-align: center;
  margin-top: 35px;
}

button {
  position: relative;
  z-index: 10;
  width: 250px;
  height: 40px;
  border-radius: 10px;
  background-color: var(--main-color);
  border: 0.5px solid var(--tertiary-color-2);
  color: var(--tertiary-color-2);
  color: white;
  cursor: pointer;
}
.text-info-player-requests {
  color: var(--tertiary-color-2);
}
.tournament {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tournaments {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.button-tournament {
  display: flex;
  flex-direction: row;
}

.button-tournaments {
  display: flex;
  flex-direction: row;
}

.tournaments-text {
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 15px;
  color: var(--tertiary-color-2);
}

.centeredCollumn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.error {
  background-color: rgb(231, 223, 221, 0.8);
  padding: 1rem;
  border-radius: 15px;
  border: 2px solid var(--main-color);
  font-weight: 5000;
  font-size: 15px;
  color: rgba(211, 0, 0, 0.945);
}

.mainText {
  margin-left: 10px;
  margin-right: 10px;
  text-align: center;
}

.mainTextLeft {
  margin-left: 10px;
  margin-right: 10px;
}

.underline {
  text-decoration: underline;
}

.home-page {
  position: absolute;

  background-size: cover;
  background-repeat: no-repeat;

  filter: blur(6px);
  -webkit-filter: blur(6px);

  z-index: 1;
  opacity: 0.4;

  background-position: center;

  width: 100%;
  height: 100vh;
}

.crniLink-spec {
  color: var(--main-color);
}

h1 {
  color: var(--tertiary-color-2);
}

.player {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(231, 223, 221, 0.8);
  padding: 1rem;
  border-radius: 15px;
  margin: 2rem;
  border: 3px solid var(--main-color);
}

.team-information {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(231, 223, 221, 0.8);
  padding: 1rem;
  border-radius: 15px;
  margin: 2rem;
  border: 3px solid var(--main-color);
}

.team-players {
  display: flex;
  flex-direction: column;
  background-color: rgb(231, 223, 221, 0.8);
  padding: 2rem;
  padding-left: 1rem;
  border-radius: 15px;
  align-items: center;
  margin: 2rem;
  border: 3px solid var(--main-color);
}
.match-team-info {
  display: flex;
  flex-direction: column;
  background-color: rgb(231, 223, 221, 0.8);
  padding: 1rem;
  border-radius: 15px;
  align-items: center;
  margin: 1rem;
  border: 3px solid var(--main-color);
}

.add-gm {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.team {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

select {
  background-color: var(--main-color);
  color: var(--tertiary-color-2);
  border: #0e0b16;
  padding: 0.2rem;
  border-radius: 5px;
  cursor: pointer;
  margin: 1rem;
}

table,
tr,
th {
  background-color: rgba(14, 11, 22, 0.5);
  position: relative;
  z-index: 10;
  border: 2px solid var(--tertiary-color-2);
  border-collapse: collapse;
  table-layout: fixed;
  color: var(--tertiary-color-2);
}

th {
  padding: 0.5rem;
}

.bigTable {
  position: relative;
  z-index: 10;
  width: 95%;
  max-width: 700px;
  margin: 20px auto;
}

.bigTableFirstRow {
  position: relative;
  z-index: 10;
  background-color: rgba(14, 11, 22, 0.8);
  color: var(--tertiary-color-2);
}

.crniLink {
  color: var(--tertiary-color-2);
}

label {
  color: var(--tertiary-color-2);
}

.leader-change {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.team-change-buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0.1rem;
}

.buttonLeft {
  margin: 1rem;
}
.input-box {
  margin: 1rem;
}

.create-match-all {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-create-match {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.victory-tour {
  margin: 3rem;
}

.all-team-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}
.team-candidates {
  margin: 2rem;
}

.regular-checkbox {
  width: 3rem;
}
.checkbox-and-name {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.delete-user {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(231, 223, 221, 0.8);
  padding: 1rem;
  border-radius: 15px;
  margin: 2rem;
  border: 3px solid var(--main-color);
}

.table {
  position: relative;
  z-index: 10;
  /* background-color: rgb(231, 223, 221, 0.1);
  border-radius: 25px;
  padding: 0.1rem;
  margin: 1rem; */
}

.team-buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  margin: 0.1rem;
}

p {
  text-align: center;
}

.player-requests {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.fc {
  width: 95%;
  max-width: 700px;
  max-height: 500px;
}

.fc-toolbar-chunk {
  text-align: right;
}

.fc-toolbar-title {
  text-align: left;
  color: var(--tertiary-color-2);
}

.fc-button {
  width: 100px;
}

.fc-button-primary {
  background-color: var(--main-color) !important;
  border-color: var(--main-color) !important;
}

.fc-view {
  padding: 0.1rem;
  background-color: rgba(231, 223, 221, 0.7);
  border-radius: 5px;
}

.create-match-input {
  display: flex;
  flex-direction: column;
}

.all-team-info {
  display: flex;
  flex-direction: row;
}

.all-team-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.all-team-comp {
  display: flex;
  flex-direction: row;
}

@media (max-width: 900px) {
  .button-tournament {
    flex-direction: column;
  }

  .button-tournaments {
    flex-direction: column;
  }

  .team {
    flex-direction: column;
  }

  .team-buttons {
    flex-direction: column;
  }

  .all-team-info {
    flex-direction: column;
  }

  .victory-tour {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  h1 {
    text-align: center;
  }

  .team-information {
    margin: 0.5rem;
  }

  .team-players {
    margin: 0.5rem;
  }

  .team-change-buttons {
    margin: 0.5rem;
  }

  .buttonLeft {
    margin: 0.5rem;
  }

  .team-change-buttons {
    flex-direction: column;
  }

  .all-match-info {
    flex-direction: column;
  }

  .all-team-comp {
    flex-direction: column;
  }
}

@media (max-width: 600px) {
  .fc-next-button,
  .fc-prev-button {
    width: 50px;
  }
  .fc-media-screen {
    height: 500px;
  }
}
