.header-container {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: var(--main-color);
  height: 13vh;
  align-items: center;
  justify-content: center;
  display: flex;
  z-index: 100;
}

.logo {
  height: 50px;
}

.logo-container {
  padding: 2rem;
  margin: 2rem;
  /* cursor: pointer; */
  position: absolute;
  left: 0;
}

@media (max-width: 900px) {
  .logo-container {
    padding: 0.5rem;
    margin: 0.5rem;
  }
  .logo {
    height: 30px;
  }
}
